@use './scss/partials/vars'as *;


// My containers
.ac_md-container {
  width: 80% ;
  margin: 0 auto;
}

.ac_sm-container {
  width: 60%;
  margin: 0 auto;
}
// \ My containers


// My col
.ac_col {
  width: 25%;
  height: 100%;
  padding: 15px;
}

// ul reset
ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

// del text decoration a
a {
  text-decoration: none;
}

// Blue signature
em {
  color: $sky-blue-palette;
  font-size: 2.3rem;
  font-family: 'Bonheur Royale', sans-serif;
}

// Rotate text
.rotate {
  font-size: 150px;
  color:$background-pink ;
  font-family: 'Londrina Sketch', sans-serif;
} 

// my btn 
.ac_btn {
  color: white;
  background-color: $orange-palette;
  padding: 5px 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  span {
    font-size: .8rem;
    font-weight: 800;
  }
  &:hover {
    background-color: $sky-blue-palette;
    transition: .2s all;
    scale: 1;
  }
}

.title-section {
  width: 50%;
  padding-bottom: 30px;
  margin: 0 auto;
  h4 {
    font-weight:600 ;
  }
}