@use './scss/partials/vars'as *;


// My containers
.ac_md-container {
  width: 80% ;
  margin: 0 auto;
}

.ac_sm-container {
  width: 60%;
  margin: 0 auto;
}
// \ My containers


// My col
.ac_col {
  width: 25%;
}


ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

// btn 

.ac_btn {
  color: white;
  background-color: $orange-palette;
  padding: 3px 20px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: $sky-blue-palette;
    transition: .2s all;
    scale: 1;
  }
}