$orange-palette:rgb(239, 111, 49);
$background-pink:rgb(245, 236, 228);
$sky-blue-palette:rgb(106, 197, 241);
$background-white-palette:rgb(245, 245, 245);
$dark-palette:rgb(51, 51, 51);
$blue-palette:rgb(25, 114, 245);
$main-font:'Roboto', sans-serif;
$social-gray:rgb(105, 105, 105);